.cc-results{
  .next {
    width: 19%;
    border-radius: 35px;
    margin-left: 41%;
    margin-top: 40px;
    };
  .entry span {
    display: inline-block;
    width: 250px;
  };
  .entry {
      width: 700px;
      margin-left: 19%;
      font-size: 30px;
      margin-top: 30px;
  };
  .voteCount {
    text-align: right;
  };
  .voting {
      margin-top: 200px;
  }
  .tally {
      margin-left:180px;
  }

}



