.cc-voting {
  margin-top: 200px;
    .vote_button_0 {
          margin-left: 22%;
		  border-radius: 35px;
		  width: 52%;
    }
    .vote_button_1 {
        width: 52%;
		    margin-left: 22%;
		    border-radius: 35px;
		    margin-top: 50px;
    }
    .label-voted{
        font-size: 22px;
        color: black;
    }
}